@import "../../../stylesheets/variables.scss";

.EditRecord {
    @media (max-width: $desktop) {
        .Button {
            font-size: 15px;
            width: 48%;   
            height: 60px;
        }

        &__buttons {
            justify-content: space-between;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        &--desktop {
            display: none;
        }

        @media (min-width: $desktop) {
            &--desktop {
                display: block;
            }
            &--mobile {
                display: none;
            }
        }
    }
}