@import "../../../stylesheets/variables.scss";

.AddRecord {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
    @media (max-width: $desktop) {
        .desktop {
            display: none;
        }
        .mobile {
            display: block;
        }
        .Button {
            font-size: 15px;
            width: 100%;
        }
    }
}