@import "../../stylesheets/variables.scss";

.NewOffer {
    background: $dark-grey;
    
    h1 {
        width: 100%;
        text-align: center;
        margin: 0;
        color: $light-grey2;
        text-shadow: 2px 2px 12px black;
        font-size: 2rem;
        margin-bottom: 20px;
        @media (min-width: $tablet) {
            font-size: 2.5rem;
            margin: 5px 10px 20px 10px;
        }
        @media (min-width: $desktop) {
            font-size: 3rem;
            margin: 10px 30px 30px 30px;
        }
    }

    &-inputs {
        background: $light-grey2;
        width: 100%;
    }
    
    &-grid { 
        margin: 10px 0;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        width: 100%;
        padding: 5px 12px;
        @media (min-width: $tablet) {
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
            row-gap: 20px;
        }
        @media (min-width: $desktop) {
            grid-template-columns: 1fr 1fr 1fr;
            margin: 30px 0;
        }
        @media (min-width: $desktop-hd) {
            width: 1300px;
            column-gap: 24px;
            row-gap: 24px;
        }

        .LabelledSelect,
        .LabelledInput {
            width: 100%;

            input,
            select {
                width: 66%;
            }

            label {
                margin-right: 20px;
                width: 33%;
                font-size: 1.3rem;
                @media (min-width: $desktop-hd) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    &__button {
        &--add {
            margin: 30px 0;
        }
    }

    .Textarea {
        width: 90%;
        @media (min-width: $desktop) {
            width: 1000px;
        }
    }

    h2 {
        font-weight: 400;
        color: $light-grey2;
        text-shadow: 2px 2px 12px black;
        @media (min-width: $desktop) {
            font-size: 1.8rem;
        }
    }

    &-images {
        width: 100%;
        margin-top: 30px;
        background: $light-grey;
    }
}