$tablet: 768px;
$desktop: 1024px;

$light-grey: #AAA;
$light-grey2: #CCC;
$dark-grey: #383C44;

$sky-blue: #61DAFB;
$sky-blue2: #4DBBDA;
$dark-blue: #283A5E;

$yellow: #FAF76A;
$yellow2: #D8D643;

$red: #FF9494;
$red2: #FF6262;
$dark-red: #F44;
$dark-red2: #CE1B1B;

$modal-beige: #FFFAF4;