@import '../../../stylesheets/variables.scss';

.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 70px;

  .OfferCard-Link {
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    @media (min-width: $tablet) {
      margin-top: 20px;
    }
    @media (min-width: $desktop) {
      margin-top: 30px;
      width: 1000px;
    }
  }
}