@import "../../../stylesheets/variables.scss";

.ImagesInput {
    margin-top: 30px;
    padding: 30px 10px;
    width: 100%;
    background: $light-grey;

    .ImagesList {
        margin-bottom: 5px;
        width: 100%;
    }

    .LabelledInput {
        width: 100%;
        max-width: 700px;
        input{
            font-size: 1rem;
            width: 70%;
        }
        label {
            font-size: 1rem;
            width: 30%;
            margin-right: 20px;
        }

        @media (min-width: $tablet) {
            input, label {
                font-size: 1.2rem;
            }
        }
        @media (min-width: $desktop) {
            input, label {
                font-size: 1.5rem;
            }
        }
    }

    .Button {
        margin-top: 15px;
        @media (min-width: $desktop) {
            margin-top: 30px;
        }
    }
}