.Loader {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        font-size: 1.8em;
        font-weight: 600;
        max-width: 70vw;
        color: #fff;
    }
    
    &__spinner {
        display: inline-block;
        position: relative;
        width: 180px;
        height: 180px;

        div {
          box-sizing: border-box;
          display: block;
          position: absolute;
          width: 164px;
          height: 164px;
          margin: 8px;
          border: 18px solid #fff;
          border-radius: 50%;
          animation: Spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          border-color: #fff transparent transparent transparent;

          &:nth-child(1) {
            animation-delay: -0.45s;
          }
          &:nth-child(2) {
            animation-delay: -0.3s;
          }
          &:nth-child(3) {
            animation-delay: -0.15s;
          }
        }
    }
  }

  @keyframes Spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }