.ManageFuel {
    display: flex;
    justify-content: center;

    .AddFuel, .EditFuel {
        padding-right: 10px;
        border-right: 1px solid black;

        .Button {
            margin-top: 50px;
        }
    }
    
    .ListFuels {
        height: 300px;
    }
}