@import "../../../stylesheets/variables.scss";

.EditableRecord {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid black;
    width: 100%;
    
    &:last-child {
        border-bottom: none;
    }
    
    &__text {
        font-size: 18px;
        margin: 0 10px;
        width: 100%;
        text-align: center;
    }

    &__controls {
        display: flex;
        font-size: 20px;
        justify-content: space-between;
        
        svg {
            margin: 5px 10px;
        }
    }
    
    &__edit {
        color: $dark-blue;
        cursor: pointer;
    }
    &__delete {
        color: red;
        cursor: pointer;
    }
    
    &--clickable {
        cursor: pointer;
        transition: background-color .2s;

        &:hover {
            background: $modal-beige2;
        }
    }
}