.Range {    
    display: flex;
    flex-direction: row;

    &__min, &__max {
        width: 100px;
        padding: 10px;
        font-size: 20px;
    }

    &__min {
        margin-right: 30px;
    }
}