@import url('https://fonts.googleapis.com/css?family=Norican');
@import '../../../stylesheets/variables.scss';

.Header {
    position: relative;
    padding: 10px 0;
    width: 100%;
    @media (min-width: $desktop) {
        max-width: 1860px;
    }

    &-dashboard {
        display: grid;
        grid-template-columns: 114px 1fr 55px 55px;
        @media (min-width: $desktop) {
            grid-template-columns: 280px 1fr 100px 600px;
        }
        background: $dark-grey;
    }

    &-logo {
        grid-column: 1/2;
    }

    &-search {
        width: 100%;
        grid-column: 2/3;
        font-size: 15px;
        margin: 5px 0;
        padding: 0 20px;
        background: $light-grey;
        border: 1px solid $sky-blue;
        font-size: 20px;
    }

    &__menu-button {
        &--mobile {
            grid-column: 4/5;
            margin: 5px 5px 5px 0;
            background: $light-grey2;
            border: 2px solid $light-grey;
            @media (min-width: $desktop) {
                display: none;
            }
        }
        &-text--close {
            display: none;
        }
    }

    &__buttons {
        grid-column: 4/5;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 10px;
        @media (max-width: $desktop) {
            display: none;
        }
    }

    &-dashboard button {
        @media (min-width: $desktop) {
            width: 160px;
        }
        font-size: 18px;
        border-radius: 5px;
        font-family: 'Play', sans-serif;
        font-weight: bold;
        color: $dark-blue;
    }

    .button-filters {
        grid-column: 3/4;
        background: $light-grey2;
        border: 2px solid $light-grey;
        margin: 5px;
        @media (min-width: $desktop) {
            width: 100px;
        }
        transition: all .15s;

        &:hover {
            color: white;
            background: darkblue;
            border-color: $dark-blue;
        }

        &__text {
            &--mobile {
                @media (min-width: $desktop) {
                    display: none;
                }
            }
            &--desktop {
                display: none;
                @media (min-width: $desktop) {
                    display: initial;
                }
            }
        }
    }
}
