@import "../../../../stylesheets/variables.scss";

.ManageModel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    @media (min-width: $desktop) {
        flex-wrap: nowrap;
        flex-direction: unset;
    }
    
    .AddModel, .EditModel {
        align-items: start;
        padding-right: 0px;
        width: 100%;
        flex-direction: row;
        @media (min-width: $desktop) {
            width: 33%;
            align-items: center;
            flex-direction: column;
            padding-right: 30px;
        }

        .AddRecord__inputs,
        .EditRecord__inputs {
            width: 50%;
            padding-right: 10px;
            @media (min-width: $desktop) {
                width: 100%;
                padding-right: 0px;
            }
        }
        
        .LabelledInput {
            width: 100%;
            margin-bottom: 10px;
            
            label {
                @media (min-width: $desktop) {
                    width: 50%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    
    .ListMakes {
        height: 250px;
        width: 50%;
        @media (min-width: $tablet) {
            height: 400px;
        }
        @media (min-width: $desktop) {
            height: 480px;
            width: 33%;
            border-left: 1px solid black;
        }
        border-right: 1px solid black;
    }
    
    .AddRecord__list,
    .EditRecord__list {
        height: 220px;
        width: 50%;
        @media (min-width: $tablet) {
            height: 300px;
        }
        @media (min-width: $desktop) {
            height: 230px;
            width: 100%;
        }
        margin-bottom: 30px;
    }
    
    .ListModels {
        height: 250px;
        width: 50%;
        @media (min-width: $tablet) {
            height: 400px;
        }
        @media (min-width: $desktop) {
            height: 480px;
            width: 33%;
        }
    }
}