.form__header {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 50px;
}

.add-car-form {
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 160px 1fr 260px 300px 160px;
    grid-row-gap: 20px;
}

.add-car-form label {
    justify-content: flex-end;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.add-car-form label.unit {
    justify-content: flex-start;
    margin-right: 0px;
    margin-left: 30px;
}

.add-car-form .label__description {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
}

.add-car-form input, .add-car-form select {
    padding: 8px;
    border-color: black;
    font-size: .9em;
}

.add-car-form select{
    background: white;
}

input:required:invalid, input:focus:invalid, textarea:required:invalid, textarea:focus:invalid, select:required:invalid, select:focus:invalid {
    border-color: red;
    color: red;
}

select:required:invalid, select:focus:invalid {
    color: black;
}

select.input__fuel option:first-child {
    display: none;
}

.input__description {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
    resize: none;
    font-size: 14px;
}

.add-car-form .input__image {
    grid-column: 4 / 6;
}

.add-car-buttons {
    display: flex;
    justify-content: space-around;
    margin: 80px 400px 0 400px;
}

.add-car-buttons button {
    width: 160px;
    height: 70px;
    font-size: 18px;
    border-radius: 5px;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    color: #283a5e;
}

.add-car-buttons button:hover {
    background: darkblue;
    border-color: #283a5e;
    color: white;
    transition: all .15s;
}

.add-car-buttons .button__add {
    background: #faf76a;
    border: 2px solid #d8d643;
}

.add-car-buttons .button__clear {
    background: rgb(255, 148, 148);;
    border: 2px solid rgb(255, 98, 98);;
}

.add-car-buttons .button__clear:hover {
    background: rgb(255, 68, 68);
    border: 2px solid #ce1b1b;
}