.new-car-offer-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    width: 560px;
}