.Modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    animation-name: show;
    animation-duration: .4s;
}

.Modal  .Modal-background {
    position: absolute;
    background: #283a53; 
    opacity: .6;
    height: 100%;
    width: 100%;
}

.Modal .Modal-content {
    z-index: 1;
    background: #FFFAF4;
    margin-top: 80px;
    margin-bottom: auto;
    padding: 100px;
    opacity: 1;
    width: 1360px;
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}