@import "../../../../stylesheets/variables.scss";

.ManageMake {
    display: flex;
    justify-content: center;

    .AddMake, .EditMake {
        padding-right: 10px;
               
        .LabelledInput {
            width: 100%;
            margin-bottom: 10px;
            
            label {
                @media (min-width: $desktop) {
                    width: 50%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    
    .ListMakes {
        border-left: 1px solid black;
        height: 480px;
    }

    .AddRecord__list, .EditRecord__list {
        height: 230px;
        margin-bottom: 30px;
    }
}