@import url('https://fonts.googleapis.com/css?family=Play');

body {
  background-color: #383c44;
}
.App {
  box-sizing: border-box;
  min-height: 100vh;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import "../components/Modals/styles.scss";
@import "../components/Modals/AddCar/styles.scss";
@import "../components/Modals/Login/styles.scss";
@import "../components/Modals/OfferCard/styles.scss";
@import "../components/Modals/Register/styles.scss";

@import "../components/Partials/Body/styles.scss";
@import "../components/Partials/Filters/styles.scss";
@import "../components/Partials/Footer/styles.scss";
@import "../components/Partials/Header/styles.scss";

@import "../components/Shared/Fields/Button/styles.scss";
@import "../components/Shared/Fields/LabelledInput/styles.scss";
@import "../components/Shared/Fields/LabelledSelect/styles.scss";
@import "../components/Shared/Fields/Range/styles.scss";
@import "../components/Shared/Fields//ThirdPartyRegisterButton/styles.scss";

@import "../components/Shared/OfferCard/styles.scss";