.Button {
    width: 160px;
    height: 70px;
    font-size: 18px;
    border-radius: 5px;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    color: #283a5e;
    transition: all .15s;
}

.Button:hover {
    color: white;
}

.button-blue {
    background: #61dafb;
    border: 2px solid #4dbbda;
}

.button-yellow {
    background: #faf76a;
    border: 2px solid #d8d643;
}

.button-red {
    background: rgb(255, 148, 148);;
    border: 2px solid rgb(255, 98, 98);;
}

.button-yellow:hover, .button-blue:hover {
    background: darkblue;
    border-color: #283a5e;
}

.button-red:hover {
    background: rgb(255, 68, 68);
    border: 2px solid #ce1b1b;
}