@import '../../../../stylesheets/variables.scss';

.Button {
    width: 160px;
    height: 70px;
    font-size: 18px;
    border-radius: 5px;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    color: $dark-blue;
    transition: all .15s;

    &:hover{
        color: white;
    }

    &--blue {
        background: $sky-blue;
        border: 2px solid $sky-blue2;

        &:hover {
            background: darkblue;
            border-color: $dark-blue;
        }
    }

    &--yellow {
        background: $yellow;
        border: 2px solid $yellow2;

        &:hover {
            background: darkblue;
            border-color: $dark-blue;
        }
    }

    &--red {
        background: $red;
        border: 2px solid $red2;

        &:hover {
            background: $dark-red;
            border: 2px solid $dark-red2;
        }
    }
}
