@import '../../../stylesheets/variables.scss';

.Filters {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 460px;
    padding: 20px;
    background-color: $dark-grey2;
    position: absolute;
    left: -460px;
    top: 100px;
    @media (max-width: $desktop) {
        display: none;
    }

    &--hidden {
        animation-name: hideFilters;
        animation-duration: .7s;
        animation-fill-mode: both;
    }

    .Range {
        input {
            width: 120px;
        }
    }

    .LabelledSelect, .Range {
        margin-bottom: 12px;
    }

    .Label {
        color: white;
    }

    &--visible {
        animation-name: showFilters;
        animation-duration: .7s;
        animation-fill-mode: both;
    }

    .LabelledSelect select{
        padding: 2px;
    }

    .Button {
        align-self: center;
        margin-top: 20px;
    }
}

@keyframes showFilters {
    0% {
        left: -460px;
    }
    100% {
        left: 0;
    }
}

@keyframes hideFilters {
    0% {
        left: 0;
    }
    100% {
        left: -460px;
    }
}