.AdminModal {
    .Button {
        margin-bottom: 20px;
    }

    .EditableTable {
        padding: 0 10px;
        @media (min-width: $desktop) {
            padding: 0 30px;
        }
    }

    .AddRecord,
    .EditRecord {
        padding-right: 10px;
        @media (min-width: $desktop) {
            padding-right: 30px;

            &__list {
                margin-top: 25px;
                padding: 0px;
            }
        }

    }

    .LabelledInput {
        input {
            width: 100%;
        }
    }

    @media (max-width: $desktop) {
        .LabelledInput {
            flex-direction: column;
            
            label {
                font-size: 18px;
                margin-bottom: 10px;
                margin-right: 0px;
                width: 100%;
            }
            input {
                font-size: 14px;
                padding: 6px;
            }
        }
    }

    .Picker {
        margin-top: 24px;
        @media (min-width: $desktop) {
            margin-top: 30px;
        }
    }
}